[submodule "grab-seller-shared-ui"]
	path = grab-seller-shared-ui
	url = git@github.com:khinemyaezin/grab-seller-shared-ui.git
[submodule "grab-seller-inventory"]
	path = grab-seller-inventory
	url = git@github.com:khinemyaezin/grab-seller-inventory.git
[submodule "grab-seller-product"]
	path = grab-seller-product
	url = git@github.com:khinemyaezin/grab-seller-product.git
[submodule "grab-seller"]
	path = grab-seller
	url = git@github.com:khinemyaezin/grab-seller.git
[submodule "grab-seller-auth"]
	path = grab-seller-auth
	url = git@github.com:khinemyaezin/grab-seller-auth.git
